@model TestProduct
@{
    ViewBag.Title = "Delete Product";
}
<h1 class="d-flex justify-content-center text-decoration-underline bg-black text-white"><strong>Delete Product</strong></h1>
<h2>Confirm Deletion</h2>
<h3>@Model.ProductName , @Model.ProductDescShort</h3>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TestProductId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="TestProduct" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

