@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center bg-black text-white border rounded-pill my-2">
    <h1 class="display-4 text-decoration-underline fw-medium">SalesOrder Database Application</h1>
    <p>A perpetual SQL Server database program</p>
</div>
<div>
    <h2 class="display-4 text-decoration-underline fw-medium">Version01</h2>
    <ul class="list-group">
        <li class="border border-black list-group-item">
            <a class="nav-link" asp-area="" asp-controller="TestProduct" asp-action="List">Manage Products</a>
        </li>
        <li class="border border-black list-group-item">
            <a class="nav-link">Manage Categories</a>
        </li>
        <li class="border border-black list-group-item">Manage Vendors</li>
        <li class="border border-black list-group-item">Manage Customers</li>
        <li class="border border-black list-group-item">Manage Employees</li>
        <li class="border border-black list-group-item">Manage Orders</li>
    </ul>
</div>
